{{##def.page_title = 'Investment History' #}}
{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
    <div class="content row panel radius">
        <div class="settings">
            <div class="small-2 columns">
                <ul class="menu">
                    <li>
                        <a href="/account">Account</a>
                    </li>
                    <li>
                        <a href="/security">Security</a>
                    </li>
                    <li>
                        <a href="/deposit">Deposit</a>
                    </li>
                    <li>
                        <a href="/withdraw">Withdraw</a>
                    </li>
                    <li>
                        <a href="/transfer">Transfer</a>
                    </li>
                    <li class="active">
                        Investment
                    </li>
                    <li>
                        <a href="support">Support</a>
                    </li>
                    <li>
                        <a onclick="logout();">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <div class="small-10 columns setts-content">
                <a class="border-button right green" href="/investment/request">Invest/Divest</a>
                <h5>Investment History</h5>
                <hr>
                {{?it.user.investments.length > 0 && it.user.investment && it.user.sumInvested && it.user.bankrollData}}
                    <p class="account">
                        <b>Current investment: <span id="curInvestment">{{#def.format: {n: it.user.investment.amount, decimals:2 } }}</span> Rips <!--(<span id="curInvestmentProfitPercent">{{#def.decimalformat: {n: (100 * (it.user.investment.amount - it.user.sumInvested)) / it.user.sumInvested, decimals:2 } }}</span>% profit)--></b><br>
                        <i style="font-size: 12px;">Your investment represents <span id="investmentPercent">{{= ((100 * it.user.investment.amount) / it.user.bankrollData).toFixed(4) }}</span>% of the bankroll.</i>
                    </p>
                    <table>
                        <thead>
                            <tr>
                                <td>Rips</td>
                                <td class="show-for-medium-up">Created</td>
                                <td>Processed</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{~it.user.investments :investment:index}}
                                <tr>
                                    <td>{{#def.format: {n: investment.amount, decimals:2 } }}{{?investment.amount==0}} <strong><a href="/faq#zerodivest">?</a></strong>{{?}}</td>
                                    <td class="show-for-medium-up">{{=investment.created}}</td>
                                    <td>{{?investment.done}}Yes{{??}}No{{?}}</td>
                                </tr>
                            {{~}}
                        </tbody>
                    </table>
                {{??}}
                    <p>You don't have an investment history</p>
                {{?}}

            </div>
        </div>
    </div>
#}}
{{#def.include('./template/main_old')}}