{{##def.page_title = 'Investment Request' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">
    <div class="settings">
        <div class="small-2 columns">
            <ul class="menu">
                <li>
                    <a href="/account">Account</a>
                </li>
                <li>
                    <a href="/security">Security</a>
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="/withdraw">Withdraw</a>
                </li>
                <li>
                    <a href="/transfer">Transfer</a>
                </li>
                <li class="active">
                    Investment
                </li>
                <li>
                    <a href="support">Support</a>
                </li>
                <li>
                    <a onclick="logout();">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-10 columns sets-content">
            <h4>Invest/Divest Request</h4>

            <p>
                <strong>Warning:</strong> Your invest/divest requests aren't processed right away there will be a delay of 1 to 20 games.<br>
                <strong>Warning:</strong> You cannot divest till it's been 24 hours since your last investment.<br>
                <strong>Note:</strong> <span style="font-size: 12px;">When investing, you get a % share of the house bankroll. The profit is then divided proportionately to the % share of the house bankroll you own.</span><br>
                <strong>Note:</strong> <span style="font-size: 12px;">When divesting, since the requests aren't processed right away, it may happen that the desired amount to divest isn't available in your investment anymore due to wins on the side of the players. If this happen, your request will be canceled and the amount of the request replaced with 0. We recommend to not divest everything all at once.</span><br>
            </p>
            <form action="/investment-request" method="post">
                <input style="display:none" type="text" name="fakeusernameremembered"/>
                <input style="display:none" type="password" name="fakepasswordremembered"/>

                <label for="amount">Rips <span style="font-size: 12px;">(Positive amount to invest or negative amount to divest <i>(1 Rips is 0.000001 XRP)</i>)</span></label>
                <input type="number" id="amount" name="amount" value="0" step="1" autocomplete="off" required/>
                <label for="password">Your password</label>
                <input type="password" id="password" name="password" autocomplete="off"/>
                {{?it.user.mfa_secret}}
                    <label for="otp">2FA Code</label>
                    <input type="text" id="otp" name="otp" autocomplete="off" pattern="[0-9]{6}" required />
                {{?}}
                <a href="/investment" class="border-button ">Back</a>
                <input class="border-button right blue" type="submit"/>
            </form>
        </div>
    </div>
</div>
#}}

{{#def.include('./template/main_old')}}